.btn1{
    display: block;
    background-color: blue;
    color: white;
    text-transform: upper case;
    text-decoration: none;
    font-weight: 700; 
    border-radius: 15px;
    margin: 25 px;
    padding: 25 px;
}


.btn {
    display: block;
    background-color: blueviolet;
    color: white;
    text-transform: upper case;
    text-decoration: none;
    font-weight: 700; 
    border-radius: 15px;
    margin: 25 px;
    padding: 25 px;
}

.btn2 {
    display: block;
    background-color: yellow;
    color: black;
    text-transform: upper case;
    text-decoration: none;
    font-weight: 700; 
    border-radius: 15px;
    margin: 25 px;
    padding: 25 px;
}
.btn3 {
    display: block;
    background-color: skyblue;
    color: white;
    text-transform: upper case;
    text-decoration: none;
    font-weight: 700; 
    border-radius: 15px;
    margin: 25 px;
    padding: 25 px;
}
.btn4 {
    display: block;
    background-color: olive;
    color: white;
    text-transform: upper case;
    text-decoration: none;
    font-weight: 700; 
    border-radius: 15px;
    margin: 25 px;
    padding: 25 px;
}
.btn5 {
    display: block;
    background-color: magenta;
    color: white;
    text-transform: upper case;
    text-decoration: none;
    font-weight: 700; 
    border-radius: 15px;
    margin: 25 px;
    padding: 25 px;
}

.btn6 {
    display: block;
    background-color: greenyellow;
    color: black;
    text-transform: upper case;
    text-decoration: none;
    font-weight: 700; 
    border-radius: 15px;
    margin: 25 px;
    padding: 25 px;
}
.btn7 {
    display: block;
    background-color: pink;
    color: white;
    text-transform: upper case;
    text-decoration: none;
    font-weight: 700; 
    border-radius: 15px;
    margin: 25 px;
    padding: 25 px;
}
.btn8 {
    display: block;
    background-color: skyblue;
    color: white;
    text-transform: upper case;
    text-decoration: none;
    font-weight: 700; 
    border-radius: 15px;
    margin: 25 px;
    padding: 25 px;
}

.btn9 {
    display: block;
    background-color:purple ;
    color: white;
    text-transform: upper case;
    text-decoration: none;
    font-weight: 700; 
    border-radius: 15px;
    margin: 25 px;
    padding: 25 px;
}
.btn10 {
    display: block;
    background-color: skyblue;
    color: white;
    text-transform: upper case;
    text-decoration: none;
    font-weight: 700; 
    border-radius: 15px;
    margin: 25 px;
    padding: 25 px;
}
.btn11 {
    display: block;
    background-color: red;
    color: white;
    text-transform: upper case;
    text-decoration: none;
    font-weight: 700; 
    border-radius: 15px;
    margin: 25 px;
    padding: 25 px;
}
.btn12 {
    display: block;
    background-color: green;
    color: white;
    text-transform: upper case;
    text-decoration: none;
    font-weight: 700; 
    border-radius: 15px;
    margin: 25 px;
    padding: 25 px;
}
.btn13 {
    display: block;
    background-color: orange;
    color: white;
    text-transform: upper case;
    text-decoration: none;
    font-weight: 700; 
    border-radius: 15px;
    margin: 25 px;
    padding: 25 px;
}
.btn14 {
    display: block;
    background-color: pink;
    color: white;
    text-transform: upper case;
    text-decoration: none;
    font-weight: 700; 
    border-radius: 15px;
    margin: 25 px;
    padding: 25 px;
}
.btn15 {
    display: block;
    background-color: maroon;
    color: white;
    text-transform: upper case;
    text-decoration: none;
    font-weight: 700; 
    border-radius: 15px;
    margin: 25 px;
    padding: 25 px;
}
.btn16 {
    display: block;
    background-color: blue;
    color: white;
    text-transform: upper case;
    text-decoration: none;
    font-weight: 700; 
    border-radius: 15px;
    margin: 25 px;
    padding: 25 px;
}
.btn17 {
    display: block;
    background-color: orange;
    color: white;
    text-transform: upper case;
    text-decoration: none;
    font-weight: 700; 
    border-radius: 15px;
    margin: 25 px;
    padding: 25 px;
}
